@mixin common-btn-props {
  cursor: pointer;
  position: relative;
  color: $color-text-primary;
  text-transform: uppercase;
  padding: 0.7rem 1.4rem;
  letter-spacing: 0.3px;
  font-weight: 600;
  transition: all 0.3s linear;
  border-radius: 0;

  & i {
    padding-left: 0.4rem;
  }
}
