.animate-smooth-updown {
  animation: animate-smooth-updown 1.2s linear infinite alternate;

  @keyframes animate-smooth-updown {
    100% {
      transform: translateY(-1rem);
    }
  }
}

.my-bg-primary {
  background: black;
}

.my-gradient-primary {
  background: $color-bg-secondary;
  background-image: linear-gradient(90deg, #e84ad2 0%, #4b9be0 100%);
}

.my-gradient-secondary {
  background: $color-text-active;
  background-image: linear-gradient(90deg, #e84ad2 0%, #4b9be0 100%);
}

.section-header h2 {
  text-transform: capitalize;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #e84ad2 0%, #4b9be0 100%);
}

.section-header p {
  margin-inline: auto;
  max-width: 600px;
}

section[id*="section"]:not(#hero-section) {
  padding-block: 6rem;
}

.neon-circle {
  z-index: -1;
  position: absolute;
  width: 5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff,
    0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
}

.hero-neon-circle-1 {
  width: 10rem;
  animation: animate-neon-circle-1 90s linear infinite alternate;

  @keyframes animate-neon-circle-1 {
    0% {
      top: 90%;
      right: 0%;
      transform: rotate(0deg);
    }

    20% {
      top: 40%;
      right: 40%;
      transform: rotate(0deg);
    }

    60% {
      top: 100%;
      right: 80%;
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
      top: 70%;
      right: 20%;
    }
  }
}

.hero-neon-circle-2 {
  width: 7rem;
  animation: animate-neon-circle-2 36s linear infinite alternate;

  @keyframes animate-neon-circle-2 {
    0% {
      top: 20%;
      left: 10%;
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
      top: 70%;
      left: 70%;
    }
  }
}

.hero-neon-circle-3 {
  width: 4rem;
  animation: animate-neon-circle-3 40s linear infinite alternate;

  @keyframes animate-neon-circle-3 {
    0% {
      top: 50%;
      left: 50%;
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
      top: 0%;
      left: 90%;
    }
  }
}

.hero-neon-circle-4 {
  width: 6rem;
  animation: animate-neon-circle-4 70s linear infinite alternate;

  @keyframes animate-neon-circle-4 {
    0% {
      top: 10%;
      left: 50%;
      transform: rotate(0deg);
    }

    50% {
      top: 0%;
      left: 0%;
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
      top: 800%;
      left: 20%;
    }
  }
}

.hero-neon-circle-5 {
  width: 12rem;
  animation: animate-neon-circle-5 60s linear infinite alternate;

  @keyframes animate-neon-circle-5 {
    0% {
      top: 0%;
      left: 90%;
      transform: rotate(0deg);
    }

    50% {
      top: 30%;
      left: 0%;
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
      top: 60%;
      left: 40%;
    }
  }
}

.rotation-circle {
  position: absolute;
  width: 7rem;
  z-index: -1;

  animation: animate-rotation-circle 6s ease-in-out infinite alternate-reverse;

  @keyframes animate-rotation-circle {
    100% {
      transform: rotate(360deg);
    }
  }
}

.hero-rotation-circle-1 {
  left: 50%;
  top: 20%;
}

.hero-rotation-circle-2 {
  left: 4%;
  bottom: 20%;
}

.decoration {
  width: 6rem;
  position: absolute;
  top: 0;
  right: 0;
}

// .custom-pointer,
// .pointer {
//   position: fixed;
//   z-index: 200;
//   width: 2rem;
//   aspect-ratio: 1;
//   border-radius: 50%;
//   mix-blend-mode: difference;
//   transition: all 0.3s linear;
//   pointer-events: none;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.189);
//   background: rgb(255, 255, 255);
// }
