.my-bg-primary {
  background: $color-bg-primary;
}

.my-bg-secondary {
  background: $color-bg-secondary;
}

.my-bg-helper {
  background: $color-bg-helper;
}

.my-bg-gradient-primary {
  background: $color-text-active;
  background: linear-gradient(90deg, #e84ad2 0%, #4b9be0 100%);
}

.my-text-secondary {
  color: $color-text-secondary;
}

.my-text-masking-gradient-primary {
  @include text-masking($color-text-masking-gradient-primary);
}

.my-text-masking-gradient-secondary {
  @include text-masking($color-text-masking-gradient-secondary);
}

.animate-smooth-updown {
  -webkit-animation: animate-smooth-updown 1.2s linear infinite alternate;
  animation: animate-smooth-updown 1.2s linear infinite alternate;

  @-webkit-keyframes animate-smooth-updown {
    100% {
      transform: translateY(-1rem);
    }
  }

  @keyframes animate-smooth-updown {
    100% {
      transform: translateY(-1rem);
    }
  }
}

.neon-circle {
  z-index: -1;
  position: absolute;
  width: 5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff,
    0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
}

.rotation-circle {
  position: absolute;
  width: 7rem;
  z-index: -1;

  animation: animate-rotation-circle 6s ease-in-out infinite alternate-reverse;

  @-webkit-keyframes animate-rotation-circle {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes animate-rotation-circle {
    100% {
      transform: rotate(360deg);
    }
  }
}

.decoration {
  width: 4rem;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

.section-header {
  max-width: 600px;
  margin-inline: auto;
  text-align: center;
  margin-bottom: 4rem;
}

.section-heading {
  font-weight: 650;
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
  text-transform: capitalize;
}
