// Google Fonts Import
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Poppins:wght@300;400;500;600;700;800&display=swap");

// SCSS Variables Start

// Colors
$color-text-primary: #fff;
$color-text-secondary: #a4a9ac;
$color-text-active: #e84ad2;
$color-text-dark: #000;
$color-text-masking-gradient-primary: linear-gradient(90deg, #e84ad2, #4b9be0);
$color-text-masking-gradient-secondary: linear-gradient(
  to right,
  white 30%,
  #02071022
);

$color-bg-primary: #000000;
$color-bg-secondary: #020710;
$color-bg-helper: #2a3039;
$color-bg-gradient-primary: linear-gradient(90deg, #e84ad2, #4b9be0);

// Fonts
$font-primary: "Poppins", sans-serif;
$font-secondary: "Roboto Mono", monospace;

// SCSS Variables End

// CSS Variables Start
:root {
  --height-navbar: 5rem;

  @media screen and (min-width: 992px) {
    --height-navbar: 8rem;
  }
}
// CSS Variables End
