.my-primary-btn {
  border: 1px solid $color-text-primary;
  box-shadow: 0 0 5px $color-text-primary, 0 0 5px $color-text-primary inset;
  z-index: 1;
  background-color: transparent;

  @include common-btn-props;

  &:hover {
    color: $color-text-dark;
  }

  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: $color-text-primary;
    box-shadow: 0 0 20px $color-text-primary;
    transition: all 0.3s ease;
  }

  &:hover:after {
    left: 0;
    width: 100%;
  }

  &:active {
    top: 2px;
  }
}

.my-secondary-btn {
  background: transparent;
  z-index: 2;
  perspective: 300px;
  transform-style: preserve-3d;
  border: 1px solid transparent;

  @include common-btn-props;

  &:hover {
    border: 1px solid $color-text-primary;
    box-shadow: 0 0 2px $color-text-primary, 0 0 2px $color-text-primary inset;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-text-active;
    background: $color-bg-gradient-primary;
    z-index: -1;
    transform-origin: center bottom;
    transform: rotateX(0);
    transition: all 0.3s ease;
  }

  &:hover::after {
    transform: rotateX(-180deg);
  }
}
